
body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
      margin: 0;
      padding: 0;
    }
  
    body {
      font-family: "Verdana", "Geneva", sans-serif;
      background-color: #997AC2;
    }
  
    #wrapper {
      width: 700px;
      margin: 20px auto;
    }
    
    #header {
      width: 700px;
      background: #7D267D;
      text-align: center;
    }
    
    #header img {
      padding-top: 0;
      padding-bottom: 0;  
      height:200px;
      width: 700px;
  }
    
    #links {
      width:700px;
      background: #6E0D6E;
      border-top: 3px solid #edead2;
      border-bottom: 3px solid #edead2;
    }
    
    #nav {
      width: 464px;
      background: #6E0D6E;
      height: 56px;
      margin: 0 auto;    
    }
  
    #nav ul {
      list-style-type: none;  
    } 
    
    #nav ul li {
      float: left;  
   }
    
    #nav ul li a {
      display: block;
      height: 40px;
      background: #ffffff;
      width: 100px;
      font-size: 20px;
      font-weight: bold;
      color: #56554c;
      text-align: center;
      text-decoration: none;
      margin: 7px;
      border-radius: 5px;
      border: 1px solid #000;
      background:linear-gradient(top, #BCCCE2,#D1CCDB);
     }
    
      #nav ul li a:hover {
       background: #ffe6ff;
       background: -moz-linear-gradient(top, #ff80ff,#666);
       background: -webkit-gradient(linear, left top, left bottom, from(#ff80ff), to(#666));
      }
    
      #nav ul li a.current, #nav ul li a.current:hover {
        background: #f5f5f5;
        background:-moz-linear-gradient(top, #000,#f5f5f5);
        background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#f5f5f5));
        color: #0099ff;
        cursor: default;
      }
    
      #about {
        width: 700px;
        background: #333;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    
      #content {
        width: 430px;
        margin: 0 auto;
        background: #FFD1D1;
        border: 1px solid #000;
      
          /*Gradients*/
        background:-moz-linear-gradient(top, #FAF5FA, #E0C2E0, #AD5CAD);
        background:-webkit-gradient(linear, left top, left bottom, from(#FAF5FA), to(#AD5CAD), color-stop(0.5, #E0C2E0));
      
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
      
           /*Shaddows*/
        box-shadow: 1px 1px 4px #000;
       -moz-box-shadow: 1px 1px 4px #000;
       -webkit-box-shadow: 1px 1px 4px #000;      
      }
    
      #content img {
        float: left;
        border: 1px solid #000;
        background: #333;
        padding: 16px;
        margin: 0.7em;
        height: 123px;
        width:90px;
      
        /*Gradients*/
        background:-moz-linear-gradient(top, #000, #333);
        background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
      
        /*Border Radius*/
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
      }
    
      #content h5 {
        color: #46453e;
        padding-top: 0.8em;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;    
      }
    
      #content p {
        font-size:12px;
        color:#46453e;
        padding: 0.7em;
        line-height: 1.4em;  
      }
    
      #footer {
        background: #7D267D;
        height: 10px;
        width: 700px;
        border-bottom: 1px solid #333; 
      }


/*Resume Hobby Contact elements*/
#content2 {
        width: 430px;
        margin: 0 auto;
        background: #FFD1D1;
        border: 1px solid #000;
      
          /*Gradients*/
        background:-moz-linear-gradient(top, #FAF5FA, #E0C2E0, #AD5CAD);
        background:-webkit-gradient(linear, left top, left bottom, from(#FAF5FA), to(#AD5CAD), color-stop(0.5, #E0C2E0));
      
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
      
           /*Shaddows*/
        box-shadow: 1px 1px 4px #000;
       -moz-box-shadow: 1px 1px 4px #000;
       -webkit-box-shadow: 1px 1px 4px #000;      
      }
#content2 img {
        border: 1px solid #000;
        background: #333;
        padding: 16px;
        margin: 0.7em;
      
        /*Gradients*/
        background:-moz-linear-gradient(top, #000, #333);
        background:-webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
      
        /*Border Radius*/
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
 }
